<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header fragment -->
<head th:insert="fragments/fragments.html :: header">
</head>
<body id="page-top" style="background: var(--gray-dark);">
	<!-- navigation fragment  -->
	<div th:replace="fragments/fragments.html :: navigation"></div>
	<!--For Page-->
	
    <div class="container" style="margin-top: 112.5px;margin-bottom: 11.5px;">
        <div class="card" th:each="object: ${objects}">
            <div class="card-body">
                <h4 class="card-title" th:text="${object.name}"></h4>
                <h6 class="text-muted card-subtitle mb-2">
					<span th:each="tag: ${object.tags}">
						<span class="badge badge-primary" th:text="${tag.name}"></span>
					</span>
				</h6>
				<p class="card-text">Proposé par: <span th:text="${object.owners.firstname}"></span>
				<span th:if="${state[object.id] != 0 && state[object.id] != 3 }">
				<span th:if="${state[object.id] == 1}" >, Demandé par: </span>
				<span th:if="${state[object.id] == 2}" >, Emprunté par: </span>
				<span th:if="${state[object.id] == 4}" >, Demandé en retour à: </span>
				<span th:text="${users[object.id].firstname}"></span>
				</span>
				</p>
                <a class="card-link" th:href="@{/edit(id=${object.id})}"><button class="btn btn-primary" type="button">Modifier</button></a>
                <a cth:if="${state[object.id] == 0 || state[object.id] == 3 }" lass="card-link" th:href="@{/remove(id=${object.id}, source=admin)}"><button class="btn btn-danger" type="button">Supprimer</button></a>
                <a  th:if="${state[object.id] != 0 && state[object.id] != 3 }" class="card-link" th:href="@{/loan-label(id=${loan[object.id]})}" ><button class="btn btn-info" type="button">Imprimer étiquette</button></a>
                <a class="card-link" th:if="${state[object.id] != 0 && state[object.id] != 3 }"  th:href="@{/back(id=${loan[object.id]}, source=admin)}"><button class="btn btn-danger" type="button">Cloturer le prêt</button></a>
            </div>
        </div><br><br>
        <div class="card">
        	<div class="card-body">
				<h4>Tags:</h4>
				Un tag ne peut pas être supprimé si il est actuellement utilisé.<br>
				<table class="table">
					<tr th:each="tag: ${tags}">
						<td> <a class="card-link" th:href="@{/deleteTag(idTag=${tag.id})}"><button class="btn btn-danger" type="button">Supprimer</button></a></td>
						<td th:text="${tag.name}"></td>
					</tr>
				</table>
				<form  th:action="@{/createTag}"
					method="post">
					<div class="form-group">
						<label for="inputName">Créer un tag: </label> <input type="text"
							id="inputName" name="name" placeholder="Nom"
							class="form-control" required />
					</div>
					<button type="submit" class="btn btn-primary">Créer</button>
				</form>
        	</div>
        </div>
    </div>
	
	<!-- footer fragment -->
	<div th:replace="fragments/fragments.html :: footer"></div>
</body>
</html>