<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header fragment -->
<head th:insert="fragments/fragments.html :: header">
</head>
<body id="page-top" style="background: var(--gray-dark);">
	<!-- navigation fragment  -->
	<div th:replace="fragments/fragments.html :: navigation"></div>
	<!--For Page-->

	<div class="container"
		style="margin-top: 130.5px; margin-bottom: 11.5px;">

		<p>
			<a class="card-link" href="/add">
				<button class="btn btn-primary" type="button">Proposer un
					objet</button>
			</a>
		</p>

		<div class="card" th:each="object: ${objects}">
			<div class="card-body">
				<h4 class="card-title" th:text="${object.name}"></h4>
				<h6 class="text-muted card-subtitle mb-2">
					<span th:each="tag: ${object.tags}"> <span
						class="badge badge-primary" th:text="${tag.name}"></span>
					</span>
				</h6>

				<div th:each="entry, loan : ${loans}">
					<div th:if="${entry.key.id == object.id}">
						<div th:if="${entry.value != null}">
							<div th:if="${entry.value.state == 1}">
								<p>
									Demandé par <span th:text="${entry.value.borrower.firstname}"></span>
								</p>
								<a class="card-link" th:href="@{/confirm(id=${entry.value.id})}">
									<button class="btn btn-primary" type="button">Accepter</button>
								</a> <a class="card-link" th:href="@{/refuse(id=${entry.value.id})}">
									<button class="btn btn-danger" type="button">Refuser</button>
								</a>
							</div>
							<div th:if="${entry.value.state == 2}">
								<p>
									Prêté à <span th:text="${entry.value.borrower.firstname}"></span>
								</p>
								<a class="card-link" th:href="@{/askback(id=${entry.value.id})}">
									<button class="btn btn-warning" type="button">Retour !</button>
								</a>
							</div>
							<div th:if="${entry.value.state == 4}">
								<p>
									Demandé en retour à <span th:text="${entry.value.borrower.firstname}"></span>
								</p>
								<a class="card-link" th:href="@{/back(id=${entry.value.id})}">
									<button class="btn btn-primary" type="button">Confirmer
										le retour</button>
								</a>
							</div>
							<div th:if="${entry.value.state == 3}">
								<p class="card-text">Disponible</p>
								<a class="card-link" th:href="@{/edit(id=${object.id})}">
									<button class="btn btn-primary" type="button">Modifier</button>
								</a> <a class="card-link"
									th:href="@{/remove(id=${object.id}, source=own)}">
									<button class="btn btn-danger" type="button">Supprimer</button>
								</a>
							</div>
						</div>
						<div th:if="${entry.value == null}">
							<p class="card-text">Disponible</p>
							<a class="card-link" th:href="@{/edit(id=${object.id})}">
								<button class="btn btn-primary" type="button">Modifier</button>
							</a> <a class="card-link"
								th:href="@{/remove(id=${object.id}, source=own)}">
								<button class="btn btn-danger" type="button">Supprimer</button>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- footer fragment -->
	<div th:replace="fragments/fragments.html :: footer"></div>
</body>
</html>